* {
    font-family: Roboto;
}

li, ul {
    list-style-type: none;
    padding-left: 0px;
}

.header, .list {
    display: flex;

}

.top-cont {
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20vw;
    padding-right: 20vw;
}

.header {
    justify-content: space-between;
}

.list {
    justify-content: space-between;
    gap : 32px;
}

.top-text {
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
}

.top-media {
    display: flex;
}

img {
    height: 200px;
    flex-shrink: 0;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
    text-align: center;
}

.quote-cont {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 3%;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.call-to-action {
    background-color: #3882F6;
    display: flex;
    padding: 40px;
    margin: 100px;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.footer {
    background-color: #1F2937;
    text-align: center;
}

.flex-cont {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    gap: 50px;
}

.flex-item {
    width: 150px;
    height: 150px;
    border: solid #3882F6 4px;
    border-radius: 15px;
}

button {
    background-color:#3882F6;
    border: none;
    border-radius: 8px;
    min-width: 90px;
    padding: 5px;
    color:#F9FAF8;
    font-weight: bold;
    align-self: flex-start;
}

.info-cont {
    display: flex;
    flex-direction: column;
}

.author {
    align-self: flex-end;
}

.call-cont {
    display: flex;
    flex-direction: column;
}

.call-to-action button {
    border: solid white 2px;
}

.media-wrapper {
    display: flex;
    flex-direction: column;
}

.media-wrapper p {
    max-width: 150px;
    text-align: center;
}
